@{
    ViewData["Title"] = "Ошибка устройства";
}
<div class="Mobile-Error">
    <div class="Mobile-Error-Container">
        <h1 style=" color: #f44336;">Доступ запрещен</h1>
        <p style="color: #333;">К сожалению, этот ресурс недоступен для использования с мобильных устройств.</p>
    </div>
</div>


