@{
    ViewData["Title"] = "Ошибка";
}

@if (ViewBag.OGRNLogin == 1)
{

    <span>Организации с данным ОГРН не существует. Пожалуйста, проверьте введеные данные и попробуйте снова.</span>
}
else
{
    <span>Пользователя с данным логином не существует. Пожалуйста, проверьте введеные данные и попробуйте снова.</span>
}
