@{
    ViewData["Title"] = "Привет!";
}

<section class="section-green">
    <h1 style="color: #000000; font-size: 64px; font-weight:700;" >Твоя правая рука</h1>
    <div style="color: #000000; font-size: 20px;">Идеальное решение для управления закупками и взаимодействия с поставщиками</div>
    <a asp-area="" asp-controller="Home" asp-action="Index"><button class="black-button">Перейти</button></a>
</section>

<section class="section-about">
    <span>О нас</span>
    <div style="display: flex; justify-content: space-around;">
        <span class="about-circle" style="background-color:#A9C52F;">С 2023 доступны 24/7</span>
        <span class="about-circle" style="background-color:#F8B400;">180 000 посещений ежемесячно</span>
        <span class="about-circle" style="background-color:#153448;">Более 40 500 постоянных пользователей</span>
        <span class="about-circle" style="background-color:#D83F31;">Лучший агрегатор по рейтингу Forbes</span>
        <span class="about-circle" style="background-color:#263A29;">Открытие года 2024 по РБК</span>
    </div>

    <div class="partners-part">

    </div>
</section>