html {
    font-size: 14px;
}

body {
    background-color: #EFFFFA;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}



p {
    color: #858585;
}

body {
    margin-bottom: 60px;
}

.search-container {
    width: 60%; /* занимает 3/5 экрана по ширине */
    margin: auto; /* автоматическое выравнивание по горизонтали */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EFFFFA;
    border-radius: 20px;
    padding: 10px;
    border: 3px solid #80E645;
    height: 50px; /* средние значения по высоте */
    display: flex;
    align-items: center;
}


.searchpage-container {
    width: 60%; /* занимает 3/5 экрана по ширине */
    margin: auto; /* автоматическое выравнивание по горизонтали */
    position: fixed;
    top: 10%; /* располагается сверху */
    left: 50%;
    transform: translateX(-50%);
    background-color: #EFFFFA;
    border-radius: 20px;
    padding: 10px;
    border: 3px solid #80E645;
    height: 50px; /* средние значения по высоте */
    display: flex;
    align-items: center;
}


.search-input {
    width: calc(100% - 40px);
    border: none;
    background: none;
    color: #858585;
    font-size: 18px;
    padding: 5px;
    outline: none;
}

.search-button {
    border: none;
    background: none;
    cursor: pointer;
}

    .search-button::after {
        content: ">";
        font-size: 35px;
        color: #5CAF2C;
    }

.container-fluid {
    display: flex;
    align-items: center; /* Выравнивание по центру по вертикали */
}


.login-button {
    height: 40px;
    padding: 10px 20px;
    border: 2px solid #80E645; /* обводка */
    border-radius: 20px; /* скругление углов */
    background-color: #EFFFFA; /* фон */
    color: #858585; /* цвет текста */
    font-family: "Roboto", sans-serif; /* указываем шрифт */
    font-style: normal; /* стиль шрифта */
    font-size: 18px; /* размер шрифта */
    text-align: center; /* выравнивание текста по центру */
    cursor: pointer;
    display: flex; /* используем flexbox */
    justify-content: center; /* выравнивание по горизонтали */
    align-items: center; /* выравнивание по вертикали */
}

    .login-button:hover {
        background-color: #80E645; /* изменение фона при наведении */
        color: white; /* изменение цвета текста при наведении */
    }




.modal-content {
    border: 2px solid #80E645; /* Обводка */
    border-radius: 20px; /* Скругленные углы */
}

.modal-title {
    font-family: "Roboto", sans-serif; /* Шрифт Roboto */
    font-weight: normal; /* Тип Regular */
    font-size: 22px; /* Размер 22 */
    text-align: center; /* Выравнивание по центру */
}

.modal-body input {
    border: 2px solid #80E645; /* Стиль аналогичный строке поиска */
    border-radius: 20px; /* Скругленные углы */
    width: 100%; /* Ширина поля ввода */
    margin-bottom: 10px; /* Расстояние между полями ввода */
}

.modal-body button {
    border: 2px solid #80E645; /* Стиль аналогичный строке поиска */
    border-radius: 20px; /* Скругленные углы */
    width: 100%; /* Ширина поля ввода */
    margin-bottom: 10px; /* Расстояние между полями ввода */
}


.button-success {
    border: 2px solid #5CAF2C !important; /* Обводка */
    border-radius: 20px; /* Скругленные углы */
    cursor: pointer;
    background-color: #5CAF2C; /* Заполнена цветом #5CAF2C */
    color: white; /* Цвет текста белый */
}

.button-continue {
    border: 2px solid #80E645; /* Обводка */
    border-radius: 20px; /* Скругленные углы */
    cursor: pointer;
    background-color: transparent; /* Без фона */
    color: black; /* Цвет текста черный */
}


input, button {
    outline: #80E645 !important; /* Никакой подсветки. */
    box-shadow: none !important; /* Никаких теней. */
    border-color: transparent; /* Границы невидимы. */
}

.modal-header {
    margin: 0 auto;
}


/* Стили для гамбургер-меню */
.hamburger-menu-content {
    position: absolute;
    top: 100%; /* расположим меню под кнопкой */
    right: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* тень */
    z-index: 1; /* установим позиционирование над всеми элементами */
    display: none; /* изначально скроем меню */
}

    .hamburger-menu-content.open {
        display: block; /* при добавлении класса open отобразим меню */
    }



.menu-links {
    padding: 20px;
}

    .menu-links li {
        list-style: none;
        margin-bottom: 10px;
    }

.close-menu-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

    .close-menu-btn:focus {
        outline: none;
    }

.user-profile, .hamburger-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .user-profile .user-initial, .hamburger-button .navbar-toggler-icon {
        font-size: 20px;
    }

.user-initial {
    background-color: #80E645;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center; /* Центрируем по вертикали */
    width: 80%;
    margin: 120px auto;
    overflow-y: scroll;
    height: 600px;
}

    .product-container::-webkit-scrollbar {
        display: none;
    }

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    gap: 10px;
    width: 100%; /* Чтобы карточки занимали всю доступную ширину */
}

.left-block, .right-block {
    width: 10%;
}

.center-block {
    width: 80%;
}

.product-image {
    max-width: 100px;
    border-radius: 5px;
}

.price {
    font-weight: bold;
    color: black;
}

.buy-button {
    background-color: #5CAF2C;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}
