@{
    ViewData["Title"] = "Подписка";
}

<div class="profile">
    <div class="page-title" style="margin-top:50px;">
        <h1>Подписка</h1>
    </div>
    <section class="profile-section">
        <h4>Стандартная</h4>
        <p>Стандартная подписка</p>
    </section>

    <section class="profile-section">
        <h4>ФудСерч Про</h4>
        <p>Подписка с расширенным функционалом для крупных клиентов</p>
    </section>

    <section class="profile-section">
        <h4>ФудСерч Производитель</h4>
        <p>Возможность реализации своих продуктов путем их публикации</p>
    </section>

    <section class="profile-section">
        <h4>Приобретение </h4>
        <p>На настоящий момент подписку можно приобрести по следующим контактам: <tel>+79625748052</tel></p>
    </section>
</div>