<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodSearch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodSearch.styles.css" asp-append-version="true" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FoodSearch</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Сервис сравнения цен на продукты</a>
                    </li>
                </ul>

                <ul class="navbar-nav flex-grow-1 d-flex flex-row-reverse">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <button class="login-button" data-bs-toggle="modal" data-bs-target="#loginModal">Войти</button>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <div class="user-profile">
                                <div class="user-initial">A</div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <button class="hamburger-button" aria-label="Открыть меню">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </li>

                        <div class="hamburger-menu-content">
                            <div class="user-profile">
                                <div class="user-initial">A</div>
                            </div>
                            <button class="close-menu-btn">&times;</button>
                            <ul class="menu-links">
                                <li><a href="#">Личный кабинет</a></li>
                                <li><a href="#">ФудСерч Pro</a></li>
                                <li><a href="#">Фиксация</a></li>
                                <li><a href="#">Аналитика</a></li>
                                <li><a href="#">Выход</a></li>
                            </ul>
                        </div>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FoodSearch - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
